@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-device-card {
  background: linear-gradient(
      222deg,
      rgba(229, 0, 0, 0.5) -208.03%,
      rgba(229, 0, 0, 0) 41.32%
    ),
    #0f0f0f;
}

.eclipse::before {
  background: linear-gradient(
    90deg,
    #0f0f0f 2.42%,
    rgba(20, 15, 15, 0.965) 45.46%,
    rgba(67, 1, 4, 0.735) 69.72%,
    rgba(0, 0, 0, 0) 500.98%
  );
}
@media (max-width: 640px) {
  .eclipse::before {
    background: linear-gradient(
      180deg,
      #0f0f0f 2.42%,
      rgba(20, 15, 15, 0.765) 60.46%,
      rgba(67, 1, 4, 0.735) 104.72%,
      rgba(0, 0, 0, 0) 73.98%
    );
  }
}

.swiper-pagination-bullet {
  background-color: #333 !important;
  width: 15px !important;
  height: 4px !important;
  border-radius: 100px !important;
  transition: all 0.3s linear !important;
}

.swiper-pagination-bullet-active {
  width: 20px !important;
  background-color: #e50000 !important;
}

.service-pagination,
.actors {
  position: absolute !important;
  bottom: -1rem !important;
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
