@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.bg-device-card {
  background: linear-gradient(
      222deg,
      rgba(229, 0, 0, 0.5) -208.03%,
      rgba(229, 0, 0, 0) 41.32%
    ),
    #0f0f0f;
}

.eclipse::before {
  background: linear-gradient(
    90deg,
    #0f0f0f 2.42%,
    rgba(20, 15, 15, 0.965) 45.46%,
    rgba(67, 1, 4, 0.735) 69.72%,
    rgba(0, 0, 0, 0) 500.98%
  );
}
@media (max-width: 640px) {
  .eclipse::before {
    background: linear-gradient(
      180deg,
      #0f0f0f 2.42%,
      rgba(20, 15, 15, 0.765) 60.46%,
      rgba(67, 1, 4, 0.735) 104.72%,
      rgba(0, 0, 0, 0) 73.98%
    );
  }
}

.swiper-pagination-bullet {
  background-color: #333 !important;
  width: 15px !important;
  height: 4px !important;
  border-radius: 100px !important;
  transition: all 0.3s linear !important;
}

.swiper-slide {
  height: auto !important;
}
.swiper-pagination-bullet-active {
  width: 20px !important;
  background-color: #e50000 !important;
}

.service-pagination,
.actors {
  position: absolute !important;
  bottom: -1rem !important;
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
